<ul class="list list--tick">
      <li class="list__item">
        <img
          class="list--tick--icon"
          src="../../HTML/Wallpapers/icons/icons8-done.svg"
        />Item 1
      </li>
      <li class="list__item">
        <img
          class="list--tick--icon"
          src="../../HTML/Wallpapers/icons/icons8-done.svg"
        />Item 2
      </li>
      <li class="list__item">
        <img
          class="list--tick--icon"
          src="../../HTML/Wallpapers/icons/icons8-done.svg"
        />Item 3
      </li>
    </ul>